/* Comentarios en CSS */
.encabezado {
    /* font-size: tamaño de fuente
    medidas comunes: px, %, em, rem */
    font-size: 72px;
    /* Color de fuente */
    color: rgb(199, 86, 255);
    /* background-color: coolr de fondo */
    background-color: #cc3535;
    /* Alineación de texto */
    text-align: center;
    text-transform: lowercase;
}

body {
    background-color: rgb(101, 104, 104);
}

#texto {
    color:blue;
    background-color:red;
    font-size: 20px;
    font-style: italic;
}

.texto {
    color:burlywood;
    background-color: black;
}

p {
    color: white;
    background-color: grey;
}

p {
    color: yellow;
    background-color: teal;
}