/* table, td {
    border: 0.5px solid black;
} */

table {
    border-top: 1px solid rgb(181,181,181);
    border-left: 1px solid rgb(181,181,181);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

td {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid rgb(177,177,177);
    border-right: 1px solid rgb(177,177,177);
}

h1 {
    font-size: 21px;
    margin-bottom: 20px;
}

.fab { 
    color: rgb(10, 102, 194);
}

.face { 
    color: violet;
}